<% if User.find_by_username(session[:logged_user]).has_role?("superadmin") %>
	<p>Logged as superadmin</p>
	<%= button_to "Users", users_path, method: :get %>
<% elsif User.find_by_username(session[:logged_user]).has_role?("admin") %>
	<p>Logged as admin</p>
<% else %>
	<p>Logged as user</p>
<% end %>
