// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#login_panel{
	position: relative;
	display: flex;
	width: 450px;
	height: auto;
	padding: 10px;
	background-color: #fdfdfd;
	align-items: center;
	justify-content: center;
	font-family: sans serif;
	border-radius: 5px;
	box-shadow: 0 0 15px grey;
	font-size: 18px;
	margin: 0 auto;
	vertical-align: middle;
	top: 40%;
}

#login_button{
	border-radius: 3px;
}

.login_field{
	width: 200px;
	height: 20px;
	margin: 5px;
}

.message{
	font-family: sans serif;
	font-size: 28px;
}